<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>e-Sign: Digital Signature Platform</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOMt23cez/5paNdF+Tm2JsNR4j6jR3g5R5C5SU+e" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="navbar">
	    <div class="logo">
	        <a href="/"><img src="images/logo.png" alt="e-Sign Logo"></a>
	    </div>
	    <nav>
	        <a href="/login"><img src="images/featured-02.png" alt="Login" class="login-icon">Login</a>
			<a href="/register"><img src="images/featured-04.png" alt="Register" class="register-icon">Register</a>
	    </nav>
	</div>
    <div class="header-with-image">
	    <img src="images/12.jpg" alt="Description of the image" class="background-image">
	    <div class="header">
	        <div class="overlay"></div>
	        <div class="content">
	            <h1>Empower Your Business with e-Sign</h1>
	            <p>Your Trusted Platform for Secure, Fast, and Convenient Digital Signatures</p>
	            <a href="/login" class="button">Get Started with e-Sign</a>
	        </div>
	    </div>
	</div>

    <div class="features" id="features">
        <div class="feature">
            <h2><i class="fas fa-lock"></i> Secure Signing</h2>
            <p>Ensure the confidentiality and integrity of your documents with our advanced encryption technology.</p>
        </div>
        <div class="feature">
            <h2><i class="fas fa-rocket"></i> Rapid Processing</h2>
            <p>Streamline your workflow by signing documents electronically, saving time and reducing paperwork.</p>
        </div>
        <div class="feature">
            <h2><i class="fas fa-mobile-alt"></i> Anytime, Anywhere</h2>
            <p>Access your documents and sign them from any device, anywhere in the world, with our user-friendly platform.</p>
        </div>
    </div>
    <div class="footer">
	    <p>&copy; 2023 e-Sign | <a href="#">Revolutionizing Digital Signing</a> | All Rights Reserved</p>
	</div>

</body>
</html>
