<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Successful Verification</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{css/success.css}">
</head>
<body>
	<nav class="navbar">
        <div class="navbar-left">
			<a href="#" class="back-button" onclick="goBack()">
		        <i class="fas fa-chevron-left"></i>
		    </a>
            <a th:href="@{/}" class="logo">
                <img th:src="@{/images/logo.png}" alt="Logo">
            </a>
        </div>
        <div class="navbar-right">
            <a href="#" class="notification-button">
                <i class="fas fa-bell"></i>
			<span class="notification-count" th:text="${notifications != null ? #lists.size(notifications) : 0}">0</span>
            </a>
            <a href="#" class="settings-button">
                <i class="fas fa-cog"></i>
            </a>
        </div>
    </nav>
    <!-- Wrap your content in the successful-verification-content div -->
    <div id="successful-verification-content">
        <h1>File Signature Verified Successfully</h1>
        <p>The file has been successfully verified with a valid signature.</p>

        <h2>Signature Details:</h2>
        <ul class="successful-verification-details">
            <li>Signer Username: <span th:text="${signerUsername}"></span></li>
            <li>Signature Date: <span th:text="${signerDate}"></span></li>
            <li>Location: Oujda</li>
        </ul>
        
        <!-- Add a table for the verification details -->
        <table class="successful-verification-table">
            <thead>
                <tr>
                    <th>Detail</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Signer Username</td>
                    <td th:text="${signerUsername}"></td>
                </tr>
                <tr>
                    <td>Signature Date</td>
                    <td th:text="${signerDate}"></td>
                </tr>
                <tr>
                    <td>Location</td>
                    <td>Oujda</td>
                </tr>
            </tbody>
        </table>
    </div>
    <script>
	    function goBack() {
	        window.history.back();
	    }
	</script>
</body>
</html>
