<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sign your Files!</title>
    <link rel="stylesheet" th:href="@{css/userfiles.css}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-left">
			<a href="#" class="back-button" onclick="goBack()">
		        <i class="fas fa-chevron-left"></i>
		    </a>
            <a th:href="@{/}" class="logo">
                <img th:src="@{/images/logo.png}" alt="Logo">
            </a>
        </div>
        <div class="navbar-right">
            <a href="#" class="notification-button">
                <i class="fas fa-bell"></i>
			<span class="notification-count" th:text="${notifications != null ? #lists.size(notifications) : 0}">0</span>
            </a>
            <a href="#" class="settings-button">
                <i class="fas fa-cog"></i>
            </a>
        </div>
    </nav>
    <ul th:each="file : ${userFiles}">
        <li>
            <span th:text="${file}"></span>
            <div class="actions">
                <div th:if="${#lists.contains(signedFiles, file)}">
                    <button class="button signed" disabled>Already Signed!</button>
                </div>
                <div th:unless="${#lists.contains(signedFiles, file)}">
                    <form th:action="@{/sign}" method="post" style="display: inline-block;">
                        <input type="hidden" th:value="${username}" name="username">
                        <input type="hidden" th:value="${file}" name="filename">
                        <input type="submit" value="Sign" class="button">
                    </form>
                </div>
                <div class="buttons">
                    <a th:href="@{'/download?username=' + ${username} + '&filename=' + ${file}}" class="button">Download</a>
                    <a th:if="${file.endsWith('.pdf') && #lists.contains(signedFiles, file)}"
                       th:href="@{'/downloadsigned?username=' + ${username} + '&filename=' + ${file}}" class="button">Download Signed</a>
                </div>
                
            </div>
        </li>
    </ul>

	<script>
	    function goBack() {
	        window.history.back();
	    }
	</script>
</body>
</html>
